@import url('https://fonts.googleapis.com/css?family=Playfair Display');
@import url('https://fonts.googleapis.com/css?family=Source Sans Pro');

body,html{
    background-color: #E5E5E5;
    width:100%;
    overflow-x:hidden;
    height:100%;
}

svg{
    width:100px;
}

.hit{
    cursor:pointer;
    -webkit-tap-highlight-color:transparent;
} 

a:hover{
    text-decoration: none;
    cursor: pointer;
    color:#F6EB42;
}
.dropdown-menu{
    background: #000;
}
.dropdown-item{
    color: #fff;
}
.dropdown-item:hover{
    color: #F6EB42;
    background: #000;
}
.nav-link{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.nav-link:hover{
    border-bottom: 3px solid #F6EB42;
}
.nav-item a{
    font-family:Source Sans Pro;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
    opacity:85%;
}
.loader{
    width:100%;
    height:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#000;
    
    z-index:100;
}
.blob-1,.blob-2{
    width:70px;
    height:70px;
    position:absolute;
    background:#fff;
    border-radius:50%;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
}
.blob-1{
    left:40%;
    animation:osc-l 2.5s ease infinite;
}
.blob-2{
    left:60%;
    animation:osc-r 2.5s ease infinite;
    background:#F6EB42;;
}
@keyframes osc-l{
    0%{left:40%;}
    50%{left:50%;}
    100%{left:40%;}
}
@keyframes osc-r{
    0%{left:60%;}
    50%{left:50%;}
    100%{left:60%;}
}


.topbar{
    font-family: Source Sans Pro;
    font-style: light;
    background-color:#000;
    font-size:100%;
    width:100%;
}

.fa{
    padding: 2%;
    text-align: center;
    text-decoration: none;
    width:90%;
}

.nav-item a{
    font-family: Source Sans Pro;
    font-size:18px;
    color:#fff;
    line-height: 23px;
}

a:hover{
    color: #F6EB42;
    cursor: pointer;
}

.header1{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 101px;
    color: #FFFFFF;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.7);
    position:relative; 
    top:80%;
    margin-left: 5%;
}

@media screen and (max-width: 608px) {
    .header1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 466px) {
    .header1 {
        font-size: 40px;
    }
}

.landing-img{
    background-image: url('../css/Images/sports-img.png'); 
    background-repeat: no-repeat;
    width:100%;
    height:528px;
}

.img-text{
    font-size:28px;
    margin-top:0%;
    margin-left: 0%;
    color:#212529;
}

.img-text-by{
    color:#C4C4C4;
    font-size:23px;
    margin-top:0%;
    margin-bottom:5px;
}

.img-text-opinion{
    background-color: #F6EB42;
    margin-left:0%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #000000; 
    margin-top:5px;
}

.header2{
    width:100%;  
    text-align:center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 55px;
    color: #000000;
}

.header2-span{
    color: #F6EB42;
    background-color: #000000;
}

.reading-img{
    background-image: url('../css/Images/sports-img.png'); 
    background-repeat: no-repeat;
    width:100%;
    height:528px;
}

.reading-img-text{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-left:0%;
    color: #000000;
}

.rm{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    width:100%;
    text-align:right;
}

.rm:hover{
    color:#F6EB42;
}
.header3{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color: #000000;
}

.header3-span{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color: #F6EB42;
    background-color: #000;
}

.opinion-img{
    background-image: url('../css/Images/sports-img.png'); 
    background-repeat: no-repeat;
    width:100%;
    height:528px;
}

.footer-links{
    font-family: Source Sans Pro;
    font-style: normal;
    font-size:120%;
    font-weight: normal;
    color: #DADADA;
}

.button{
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top:2%; 
    background-color: black; 
    color: #F6EB42;
    border: solid #F6EB42;
    border-radius: 5%;
    font-weight: 600;
}

.button a{
    color: #F6EB42;
}

.button a:hover{
    color: #000;
}
.button:hover {
    background-color: #F6EB42;
    color: black;
}
.break{
    display: block;
    content: ""; 
    margin-top: 7px;
 }