@import url('https://fonts.googleapis.com/css?family=Playfair Display');
@import url('https://fonts.googleapis.com/css?family=Source Sans Pro');

body,html{
    background-color: #E5E5E5;
    width:100%;
    overflow-x:hidden;
}

.topbar{
    font-family: Source Sans Pro;
    font-style: light;
    background-color:#000;
    font-size:100%;
    width:100%;
}

.fa{
    padding: 2%;
    text-align: center;
    text-decoration: none;
    border-radius:50%;
    background: white;
    color: black;	
}

.nav-item a{
    font-family: Playfair Display;
    font-size:18px;
    color:#fff;
    line-height: 23px;
}

a:hover{
    color: #F6EB42;
    cursor: pointer;
}

.header1{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 101px;
    color: #FFFFFF;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.7);
    position:relative; 
    top:80%;
    margin-left: 5%;
}

@media screen and (max-width: 608px) {
    .header1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 466px) {
    .header1 {
        font-size: 40px;
    }
}

.landing-img{
    background-image: url('./Images/landing-img.jpeg'); 
    background-repeat: no-repeat;
    width:100%;
    height:528px;
}

.popular-heading{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 107px;
}

.img-text{
    font-size:32px;
    margin-top:2%;
    margin-left: 0%;
}

.img-text-by{
    color:#C4C4C4;
    font-size:26px;
    margin-top:0%;
}

.img-text-opinion{
    background-color: #F6EB42;
    margin-left:0%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000000; 
}

.footer-links{
    font-family: Source Sans Pro;
    font-style: normal;
    font-size:120%;
    font-weight: normal;
    color: #DADADA;
}

.sub-headers{
    width: 100%;
    height: 60px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    color: #000000;
    background-color:#F6EB42;
}
.sub-headers span{
    margin-left:5%;
}

.desk-img-text{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 75px;
    line-height: 94px;
    color: #25242A;
}

.desk-text{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    text-align: justify;
    color: #898989;
}

@media screen and (max-width: 547px) {
    .sub-headers{
        width: 100%;
        height:100%;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        color: #000000;
        background-color:#F6EB42;
        margin-left:auto;
        margin-right:auto;
    }
    .sub-headers span{
        margin-left:auto;
        margin-right:auto;
    }
    .desk-img-text{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 55px;
        line-height: 74px;
        color: #25242A;
    }
    .desk-text{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 48px;
        text-align: justify;
        color: #898989;
    }   
  }

.articleheader{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size:400%;
    line-height: 93.3%;
    color: #25242A;
}
.dateposted{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size:125%;
    line-height: 110%;
    text-align: justify;
    color: #C4C4C4;
}
.article{
    font-family: 'GFS Didot', serif;
    font-style: normal;
    font-weight: normal;
    font-size:150%;
    line-height: 118.5%;
    text-align: auto;
    color: #25242A;
    word-spacing: 0.3em;
}
.name{
    font-family:Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 125%;
    line-height:125%;
    color: #000000;
}
.college{
    font-family:Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height:125%;
    color: #000000;
}
.mark{
    background-color: #F6EB42;
    font-family:Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 75%;
    line-height:100%;
    color: #000000;
    margin-bottom: 2%;
}
.article-content{
    margin-bottom: 3%;
}

.design, .design-d{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.38em;
    color: #000000;
}

@media screen and (max-width: 600px) {
    .design-d {
        font-size: 38px;
        letter-spacing: 0.28em;
    }
  }

.teamname{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem ;
    line-height: 37px;
    color: #000000;
}

.teamname-white{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 37px;
    color: #fff;
}

.twork{
    font-size:1rem; 
    background-color:#F6EB42; 
    font-weight: bold;
    font-family: Playfair Display;
    color:#000;
    width:80%;
    margin-left: 10%;
}

.dand{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    color: #DADADA;
    font-size:125%;
}
.dand:hover{
    color: #F6EB42;
}

.text-writeforus{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
}
.form-control{
    border: solid #000000;
    border-radius: 2%; 
    box-sizing: border-box;
    padding: 3% 1.5%;
    line-height: 10%;
}
.form-control:focus{
    border: solid #000000;
    border-radius: 2%; 
    box-sizing: border-box;
}
.form-textarea{
    line-height: 120%;
}
.form-text{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 200%;
    line-height: 120%;
    text-align: center;
    color: #000000;
    margin-bottom: 5%;
}
.button-submit{
  padding: 2% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: black; 
  color: #F6EB42;
  border: solid black;
  border-radius: 2%;
  font-weight: 600;
}
.button-submit:hover {
  background-color: #F6EB42;
  color: black;
  }
.button-toggle{
  padding: 0% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: black; 
  color: #F6EB42;
  border: solid black;
  border-radius: 2%;
  font-weight: 600;
}
.button-toggle:hover {
  background-color: #F6EB42;
  color: black;
}

.about-article{
    font-family: Playfair Display;
    font-style: Regular;
    font-size: 2rem;
    line-height: 48px;
    align: Justified;
}

.team-img{
    width:70%;
    height:auto;
    object-fit: contain;
}